<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap" rel="stylesheet">



<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="nav">
  <div class="container-fluid">
    <div class="quiz">
      <img
        src="https://play-lh.googleusercontent.com/hTVMFKcAzOP_3Wqusq4jNTOKJRtUiXbTpFVLwYLGrtLQ3-AlwRwryG-VzCx0oewhKgMg=w240-h480-rw">
      <span id="QUIZ"> BRAIN quiz</span>
    </div>


    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" id="btn">
          <button type="button" class="btn btn-outline-light" href="#">Home
            <span class="visually-hidden">(current)</span>
          </button>
        </li>
        <li class="nav-item" id="btn">
          <button type="button" class="btn btn-outline-light" href="#">Features</button>
        </li>
        <li class="nav-item" id="btn">
          <button type="button" class="btn btn-outline-light" href="#">Pricing</button>
        </li>
        <li class="nav-item" id="btn">
          <button type="button" class="btn btn-outline-light" href="#">About</button>
        </li>


      </ul>

      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>